@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.214);
}
body::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: black;
  border-radius: 5px;
}
.site_container {
  margin: 0px auto;
}
@media (min-width: 576px) {
  .site_container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .site_container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .site_container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .site_container {
    max-width: 1140px;
  }
}
