.image {
  margin: 0px auto;
}
.container {
  margin: 0px 15px;
}
.c_picker {
  background-color: #ebebeb;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 10px 30px 10px 16px;
  color: rgba(0, 0, 0, 0.868);
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;
  appearance: none;
}
.c_picker:hover {
  cursor: pointer;
}
.c_picker::-ms-expand {
  display: none;
}
.c_picker_container {
  position: relative;
  min-width: 450px;
  max-width: 450px;
  flex: 1;
  margin-bottom: 10px;
  margin-right: 15px;
}
.control_container {
  justify-content: center;
}
.style_picker {
  margin-bottom: 10px;
  position: relative;
}
.next_img_btn,
.prev_img_btn {
  flex: 1;
}
.next_img_btn:hover {
  cursor: url("../../../public/cursorRight.png"), auto;
}

.prev_img_btn:hover {
  cursor: url("../../../public/cursorLeft.png"), auto;
}
@media (max-width: 480px) {
  .c_picker_container {
    min-width: 90%;
    max-width: 90%;
  }
}
@media (min-width: 576px) {
  .container {
    padding: 0px;
  }
  .image {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .image {
    max-width: 660px;
  }

  .style_picker {
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) {
  .c_picker_container {
    margin-bottom: 0px;
  }
  .control_container {
    justify-content: space-between;
  }
  .image {
    max-width: 728px;
  }
}
